<!-- extend base layout --> {% extends "base.html" %}

{% block content %}
<h2>envelopesListStatusChanges</h2>
<form action="/eg042" method="POST">
    <label for="from_date">From Date (YYYY-MM-DD):</label>
    <input type="text" id="from_date" name="from_date" required>
    <br>
    <label for="to_date">To Date (YYYY-MM-DD):</label>
    <input type="text" id="to_date" name="to_date">
    <br>
    <label for="status">Status:</label>
    <input type="text" id="status" name="status">
    <br>
    <label for="file_path">File path:</label>
    <input type="text" id="file_path" name="file_path">
    <br>
    <input type="submit" value="Submit">
</form>
{% endblock %}

